._dash-undo-redo {
  display: none;
}

h1 {
  color: white;
  font-family: verdana;
  font-size: 200%;
  text-align: center;
}


h2 {
  color: black;
  font-family: verdana;
  font-size: 150%;
  text-align: left;
}

h3 {
  color: black;
  font-family: Times New Roman;
  font-size: 150%;
  text-align: left;
}

h4 {
  color: red;
  font-family: Times New Roman;
  font-size: 150%;
  text-align: left;
}


.custom-tabs-container {
    width: 85%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    font-size: 150%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
    font-size: 150%;
    max-width: 200px;
}